.admin-panel {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.admin-panel h1 {
  text-align: center;
  margin-bottom: 20px;
}

.admin-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.admin-button:hover {
  background-color: #0056b3;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.admin-table,
.admin-th,
.admin-td {
  border: 1px solid #ddd;
}

.admin-th,
.admin-td {
  padding: 12px;
  text-align: left;
}

.admin-th {
  background-color: #f2f2f2;
}

.admin-img {
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 100px auto; /* Added margin to push modal down */
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-height: 65%; /* Set max height to allow scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
}

.radio-group {
  display: flex; /* Use flexbox for the radio buttons */
  justify-content: center;
  gap: 20px; /* Add some space between the radio buttons */
  margin-bottom: 10px; /* Space below radio buttons */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px; /* Space between buttons */
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Style for button container */
.button-container {
  display: flex; /* Use flexbox to align buttons side by side */
  justify-content: flex-end; /* Align buttons to the right */
}
