.footer {
  background-color: #222;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  padding: 10px;
}

.footer-section h3 {
  font-size: 24px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ffcc00;
  display: inline-block;
  padding-bottom: 5px;
}

.footer-section p,
.footer-section a {
  font-size: 18px;
  color: #ddd;
  text-decoration: none;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a:hover {
  color: #ffcc00;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  color: #ffcc00;
  margin-top: 30px;
  font-size: 42px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #fff;
  transform: scale(1.1);
}

.footer-bottom {
  margin-top: 10px;
  font-size: 12px;
  border-top: 1px solid #444;
  padding-top: 10px;
}
