:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --secondary-background-hover-color: rgba(255, 229, 174, 0.674);
    --hover-color: rgb(255, 174, 0);
    --background-hover-color: #000000c9;
    --border: #242323;
    ;

}