/* Container for the product card */
.product-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-align: center;
  padding: 15px;
  width: 100%;
  max-width: 300px; /* מגדיר גודל מקסימלי אחיד לכל הכרטיסים */
  margin-bottom: 20px; /* רווח תחתון בין הכרטיסים */
}

/* On hover, the card slightly lifts and shows a shadow */
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Product image inside the card */
.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Product name */
.product-name {
  font-size: 1.4rem; /* גודל פונט גדול יותר */
  color: #333;
  margin-bottom: 10px;
}

/* Product description with max height and ellipsis */
.product-description {
  font-size: 1rem;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* לא מאפשר מעבר שורה */
  height: 24px; /* מגדיר גובה כדי להציג רק שורה אחת */
}

/* Show more button */
.show-more {
  cursor: pointer;
  color: #007bff;
  font-size: 1rem;
  text-decoration: underline;
  background: none;
  border: none;
  padding: 0;
  margin-top: 10px;
  transition: color 0.3s ease;
}

.show-more:hover {
  color: #0056b3;
}

/* Availability text */

.product-availability {
  font-size: 2rem;
  font-weight: bold;
}

/* במלאי - צבע ירוק */
.product-availability.in-stock {
  color: green;
}

/* לא במלאי - צבע אדום */
.product-availability.out-of-stock {
  color: red;
}

.product-description {
  font-size: 0.9em;
  color: #666;
  height: auto; /* גובה אוטומטי */
  overflow: hidden;
}

.show-more {
  cursor: pointer;
  color: #007bff;
  font-size: 0.9em;
  text-decoration: underline;
  border: none;
  background: none;
  padding: 0;
  margin-top: 5px;
  display: inline-block;
}
/* Responsive design */
@media (max-width: 768px) {
  .product-card {
    padding: 10px;
  }

  .product-name {
    font-size: 1.2rem;
  }
}
