.purchase-history {
  padding: 20px;
  text-align: center;
}

.purchase-history h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.purchase-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

.historyPurchase-title {
  margin-top: 100px;
}

.purchase-table th,
.purchase-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.purchase-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.purchase-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.purchase-table tr:hover {
  background-color: #e0e0e0;
}

.detail-button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #2196f3;
  color: white;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}

/* Modal Styling */
.modal {
  position: fixed;

  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Increase width of modal */
.modal-content-purchase {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 1200px;
  position: relative; /* Ensure close button positions relative to this container */
}

/* Scrollable content area */
.modal-body {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: normal;
}

/* Table Styling */
.table-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto; /* Enables scrolling only when needed */
}

.item-table {
  width: 100%;
  border-collapse: collapse; /* Fix border spacing */
}

/* Prevent table from being too narrow */
.item-table th,
.item-table td {
  white-space: nowrap;
  padding: 12px; /* Add spacing */
  text-align: center;
  border: 1px solid #ddd;
}

.item-table th {
  background-color: #f8f8f8;
  font-weight: bold;
  font-size: 16px;
}

/* Make sure table takes full width */
.item-table tbody tr {
  width: 100%;
}

/* Close button position */
.close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}
